* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 1em;
	background-color: rgb(202, 215, 230);
}
h1, h2, h3 {
	margin: 0.3em 0;
}

.framed {
	border: 2px solid rgb(2, 20, 30);
	border-radius: 0.4em;
	padding: 0.6em;
}

.bubbles {
	background-color: #FFE4FA;
	padding: 1em;
	min-height: 14em;
	position: relative;
	width: 31em;
	/* EM gör det lätt att ändra storleken på figuren */
	/* font-size: 75%; */
}

.bubbles > div {
	border-radius: 9001em;
	border: none;
	position: absolute;
}

.bubble1 {
	background-color: rgb(199, 66, 216);
	width: 4em; height: 4em;
	left: 4em; bottom: 3em;
}
.bubble2 {
	background-color: rgb(2, 226, 226);
	width: 3em; height: 3em;
	top: 1em; left: 10em;
}
.bubble3 {
	background-color: rgb(211, 166, 82);
	width: 5em; height: 5em;
	left: 15em;
	bottom: 3.5em;
}
.bubble4 {
	background-color: rgb(109, 206, 109);
	width: 2.5em; height: 2.5em;
	left: 21em; top: 3em;
}
.bubble5 {
	background-color: rgb(45, 45, 126);
	width: 4em; height: 4em;
	left: 25em; bottom: 2.2em;
}
